<div class="container pt-5 col-4">
  <%= simple_form_for [@restaurant, @review] do |f| %>
    <%= f.input :rating, collection: 0..5 %>
    <%= f.input :content%>
    <%= f.submit class: 'btn btn-success text-white' %>
  <% end %>

  <br>

  <%= link_to "Back to restaurants", restaurants_path %>
</div>